@import "@/sass/public/_variable.scss";
@import "@/sass/public/_mixin.scss";

.index {
  $skillIcon_W: (100%/18);
  $skillIcon_H: 68px;

  position: relative;
  width: 100%;
  min-width: 1200px;
  max-width: 1920px;
  height: 1920px;
  margin: 0 auto;
  background-image: url("~@/assets/img_bg.png"),
  linear-gradient(to bottom, #10030a, #1b0b16, #231121, #2b152d, #301a3b);
  background-repeat: no-repeat;
  background-position: bottom;

  .header {
    @include flex(flex-start, center);

    padding-top: 36px;
    padding-left: 120px;
    color: #ffffff;

    .logo {
      @include size(100px);
      @include flex(center);

      position: relative;

      > img {
        width: 100%;
      }

      &:before {
        @include size(120%);

        content: "";
        position: absolute;
        opacity: .3;
        border-radius: 50%;
        background: #efbeab;
      }
      &:after {
        @include size(140%);

        content: "";
        position: absolute;
        opacity: .2;
        border-radius: 50%;
        background: #efbeab;
      }
    }

    .text {
      margin-left: 3rem;
      text-align: center;
      h1 {
        font-family: "Yuanti TC";
        font-size: 79px;
        font-weight: bold;
      }
      span {
        font-size: 69px;
      }
    }
  }
  .skillTree {
    // @include outline(red);
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 3rem;

    .skill_item {
      position: absolute;

      .icon {
        @include size(65px);
        @include flex(center);

        border: 5px solid #a0bcd4;
        border-radius: 20px;
        background-color: #0c467e;

        > img {
          width: 100%;
        }
      }

      .title {
        text-align: center;
        color: #ffffff;
        font-weight: bold;
      }

      &.blade {
        top: $skillIcon_H * 1.5;
        left: $skillIcon_W * 1;
      }
      &.meat {
        top: $skillIcon_H * 1.5;
        left: $skillIcon_W * 3;
      }
      &.shield {
        top: $skillIcon_H * 3.5;
        left: $skillIcon_W * 1;
      }
      &.hat {
        top: $skillIcon_H * 3.5;
        left: $skillIcon_W * 2.5;
      }
      &.horn {
        top: $skillIcon_H * 3.5;
        left: $skillIcon_W * 4;
      }

      &.hammer {
        top: $skillIcon_H * 2.5;
        left: $skillIcon_W * 6;
      }

      &.illustration {
        top: $skillIcon_H * .5;
        left: $skillIcon_W * 8;
      }
      &.color {
        top: $skillIcon_H * .5;
        left: calc(#{$skillIcon_W * 8} + (65px + 10px));
      }

      &.sense {
        top: $skillIcon_H * 2.5;
        left: $skillIcon_W * 8;
      }
      &.text {
        top: $skillIcon_H * 2.5;
        left: calc(#{$skillIcon_W * 8} + (65px + 10px));
      }

      &.inspiration {
        top: $skillIcon_H * 4.5;
        left: $skillIcon_W * 8;
      }
      &.pictures {
        top: $skillIcon_H * 4.5;
        left: calc(#{$skillIcon_W * 8} + (65px + 10px));
      }

      &.axe {
        top: $skillIcon_H * 2.5;
        left: $skillIcon_W * 11.5;
      }

      &.book {
        top: $skillIcon_H * .5;
        left: $skillIcon_W * 13.5;
      }
      &.quill {
        top: $skillIcon_H * .5;
        left: $skillIcon_W * 15.5;
      }

      &.blade2 {
        top: $skillIcon_H * 2.5;
        left: $skillIcon_W * 14;
      }
      &.sword {
        top: $skillIcon_H * 2.5;
        left: $skillIcon_W * 16;
      }

      &.timer {
        top: $skillIcon_H * 4.5;
        left: $skillIcon_W * 13.5;
      }
      &.emblem {
        top: $skillIcon_H * 4.5;
        left: $skillIcon_W * 15.5;
      }
    }

    .skill_line {
      position: absolute;
      height: 16px;
      transform: translateY(-50%);
      background-color: #ffffff;

      &.blade {
        top: calc(#{$skillIcon_H * 1.5} + 33px);
        left: calc(#{$skillIcon_W * 1} + 70px);
        width: calc(#{$skillIcon_W * 2} - 90px);

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 100%;
          transform: translateY(-50%);
          border-width: 15px 0 15px 20px;
          border-style: solid;
          border-color: transparent transparent transparent #ffffff;
        }
      }

      &.meat {
        &.row {
          top: calc(#{$skillIcon_H * 1.5} + 33px);
          left: calc(#{$skillIcon_W * 3} + 70px);
          width: calc(#{$skillIcon_W * 1} - 33px);
        }

        &.col {
          // @include outline(blue);
          top: calc(#{$skillIcon_H * 1.5} + #{$skillIcon_H * 1});
          left: calc(#{$skillIcon_W * 4} + 70px - 33px - 16px);
          width: 16px;
          height: calc(#{$skillIcon_H * 1} + 16px);
        }
      }
      &.shield {
        top: calc(#{$skillIcon_H * 3.5} + 33px);
        left: calc(#{$skillIcon_W * 1} + 70px);
        width: calc(#{$skillIcon_W * 1.5} - 90px);

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 100%;
          transform: translateY(-50%);
          border-width: 15px 0 15px 20px;
          border-style: solid;
          border-color: transparent transparent transparent #ffffff;
        }
      }
      &.hat {
        top: calc(#{$skillIcon_H * 3.5} + 33px);
        left: calc(#{$skillIcon_W * 2.5} + 70px);
        width: calc(#{$skillIcon_W * 1.5} - 90px);

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 100%;
          transform: translateY(-50%);
          border-width: 15px 0 15px 20px;
          border-style: solid;
          border-color: transparent transparent transparent #ffffff;
        }
      }
      &.horn {
        &.col {
          // @include outline(blue);
          top: calc(#{$skillIcon_H * 3} + #{$skillIcon_H * .5 / 2});
          left: calc(#{$skillIcon_W * 4} + 70px - 33px - 16px);
          width: 16px;
          height: calc(#{$skillIcon_H * .5});
          transform-origin: 50% 0%;
        }
      }

      &.basicUP {
        // @include outline(red);
        top: calc(#{$skillIcon_H * 3});
        left: calc(#{$skillIcon_W * 4} + 70px - 33px - 16px);
        width: calc(#{$skillIcon_W * 2} - 45px);

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 100%;
          transform: translateY(-50%);
          border-width: 15px 0 15px 20px;
          border-style: solid;
          border-color: transparent transparent transparent #ffffff;
        }
      }

      &.hammer {
        &.row1 {
          top: calc(#{$skillIcon_H * .5} + (65px / 2));
          left: calc(#{$skillIcon_W * 6.5} + 65px + 5px);
          width: calc(#{$skillIcon_W * 1.5} - 65px - 20px - 10px);

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            border-width: 15px 0 15px 20px;
            border-style: solid;
            border-color: transparent transparent transparent #ffffff;
          }
        }

        &.row2 {
          top: calc(#{$skillIcon_H * 2.5} + (65px / 2));
          left: calc(#{$skillIcon_W * 6} + 65px + 5px);
          width: calc(#{$skillIcon_W * 2} - 65px - 20px - 10px);

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            border-width: 15px 0 15px 20px;
            border-style: solid;
            border-color: transparent transparent transparent #ffffff;
          }
        }

        &.row3 {
          top: calc(#{$skillIcon_H * 4.5} + (65px / 2));
          left: calc(#{$skillIcon_W * 6.5} + 65px + 5px);
          width: calc(#{$skillIcon_W * 1.5} - 65px - 20px - 10px);

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            border-width: 15px 0 15px 20px;
            border-style: solid;
            border-color: transparent transparent transparent #ffffff;
          }
        }

        &.col {
          // @include outline(red);
          top: calc(#{$skillIcon_H * 2.5} + (65px / 2));
          left: calc(#{$skillIcon_W * 6.5} + 65px + 5px);
          width: 16px;
          height: calc(#{$skillIcon_H * 4} + 16px);
        }
      }

      &.mediumUP {
        &.row1 {
          top: calc(#{$skillIcon_H * .5} + (65px / 2));
          left: calc(#{$skillIcon_W * 8} + (65px + 10px) + 65px + 5px);
          width: calc(
          #{$skillIcon_W * 2.5} - (65px + 10px) - 65px - 20px - 10px
          );
        }

        &.row2 {
          top: calc(#{$skillIcon_H * 2.5} + (65px / 2));
          left: calc(#{$skillIcon_W * 8} + (65px + 10px) + 65px + 5px);
          width: calc(
          #{$skillIcon_W * 3.5} - (65px + 10px) - 65px - 20px - 10px
          );

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            border-width: 15px 0 15px 20px;
            border-style: solid;
            border-color: transparent transparent transparent #ffffff;
          }
        }

        &.row3 {
          top: calc(#{$skillIcon_H * 4.5} + (65px / 2));
          left: calc(#{$skillIcon_W * 8} + (65px + 10px) + 65px + 5px);
          width: calc(
          #{$skillIcon_W * 2.5} - (65px + 10px) - 65px - 20px - 10px
          );
        }

        &.col {
          // @include outline(red);
          top: calc(#{$skillIcon_H * 2.5} + (65px / 2));
          left: calc(
          #{$skillIcon_W * 8} + (65px + 10px) + 65px + 5px + #{$skillIcon_W * 2.5} -
          (65px + 10px) - 65px - 20px - 10px
          );
          width: 16px;
          height: calc(#{$skillIcon_H * 4} + 16px);
        }
      }

      &.axe {
        &.row {
          top: calc(#{$skillIcon_H * 2.5} + (65px / 2));
          left: calc(#{$skillIcon_W * 11.5} + 65px + 5px);
          width: calc(#{$skillIcon_W * 2.5} - 65px - 20px - 10px);

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            border-width: 15px 0 15px 20px;
            border-style: solid;
            border-color: transparent transparent transparent #ffffff;
          }
        }
      }

      &.book {
        &.row {
          top: calc(#{$skillIcon_H * .5} + (65px / 2));
          left: calc(#{$skillIcon_W * 13.5} + 65px + 20px + 5px);
          width: calc(#{$skillIcon_W * 2} - 65px - 20px - 20px - 10px);

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            border-width: 15px 0 15px 20px;
            border-style: solid;
            border-color: transparent transparent transparent #ffffff;
          }

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            transform: translateY(-50%) rotate(180deg);
            border-width: 15px 0 15px 20px;
            border-style: solid;
            border-color: transparent transparent transparent #ffffff;
          }
        }
      }

      &.blade2 {
        &.row {
          top: calc(#{$skillIcon_H * 2.5} + (65px / 2));
          left: calc(#{$skillIcon_W * 14} + 65px + 5px);
          width: calc(#{$skillIcon_W * 2} - 65px - 20px - 10px);

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            border-width: 15px 0 15px 20px;
            border-style: solid;
            border-color: transparent transparent transparent #ffffff;
          }
        }

        &.col {
          // @include outline(red);
          top: calc(#{$skillIcon_H * 2.5} + (65px / 2));
          left: calc(#{$skillIcon_W * 14.25} + 65px + 5px);
          width: 16px;
          height: calc(#{$skillIcon_H * 4} + 16px);
        }
      }

      &.timer {
        &.row {
          top: calc(#{$skillIcon_H * 4.5} + (65px / 2));
          left: calc(#{$skillIcon_W * 13.5} + 65px + 20px + 5px);
          width: calc(#{$skillIcon_W * 2} - 65px - 20px - 20px - 10px);

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            border-width: 15px 0 15px 20px;
            border-style: solid;
            border-color: transparent transparent transparent #ffffff;
          }

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            transform: translateY(-50%) rotate(180deg);
            border-width: 15px 0 15px 20px;
            border-style: solid;
            border-color: transparent transparent transparent #ffffff;
          }
        }
      }
    }
  }

  .skillInfo {
    // @include outline(blue);
    @include flex(flex-start);

    position: relative;
    width: 100%;
    // height: 400px;
    margin-top: 3rem;
    // margin-left: 180px;

    .monocat {
      position: relative;
      z-index: 2;
    }

    .content {
      @include flex(center);

      position: relative;
      z-index: 1;
      left: -5rem;
      width: 1100px;
      height: 260px;
      margin-top: 3rem;
      padding-right: 77px;
      border: 8px solid #0093ff;
      border-radius: 64px;
      background-color: #ffffff;

      .icon {
        padding-left: 4rem;
      }
      .text {
        margin-left: 24px;
        > h3 {
          color: #505050;
          font-size: 36px;
        }
        > p {
          color: #7b7b7b;
          font-size: 32px;
        }
      }
    }

    .padora {
      position: absolute;
      right: 10%;
    }
  }

  .cat {
    position: absolute;
    bottom: 13%;
    left: 4%;
  }

  .rocket {
    position: absolute;
    right: 18%;
    bottom: 0px;
  }
}
