<div class="index">
  <header class="header">
    <div class="logo">
      <img src="@/assets/img_illustration@2x.png" alt="" srcset="">
    </div>

    <div class="text">
      <h1>介面設計師轉職之路</h1>
      <span>UI Designer Road Map</span>
    </div>
  </header>

  <div class="skillTree">
    <div class="skill_item blade">
      <div class="icon">
        <img src="@/assets/img_blade-1.png" alt="" srcset="">
      </div>
      <div class="title">
        設計規範
      </div>
    </div>

    <div class="skill_line blade">
    </div>

    <div class="skill_item meat">
      <div class="icon">
        <img src="@/assets/img_meat.png" alt="" srcset="">
      </div>
      <div class="title">
        爬梳乾貨
      </div>
    </div>

    <div class="skill_line meat row">
    </div>
    <div class="skill_line meat col">
    </div>

    <div class="skill_item shield">
      <div class="icon">
        <img src="@/assets/img_shield.png" alt="" srcset="">
      </div>
      <div class="title">
        UX思維
      </div>
    </div>

    <div class="skill_line shield">
    </div>

    <div class="skill_item hat">
      <div class="icon">
        <img src="@/assets/img_hat.png" alt="" srcset="">
      </div>
      <div class="title">
        設計思考
      </div>
    </div>

    <div class="skill_line hat">
    </div>
    <div class="skill_line horn col">
    </div>

    <div class="skill_item horn">
      <div class="icon">
        <img src="@/assets/img_horn.png" alt="" srcset="">
      </div>
      <div class="title">
        心理學
      </div>
    </div>

    <div class="skill_line basicUP">
    </div>

    <div class="skill_item hammer">
      <div class="icon">
        <img src="@/assets/img_hammer.png" alt="" srcset="">
      </div>
      <div class="title">
        線框稿
      </div>
    </div>

    <div class="skill_line hammer col">
    </div>
    <div class="skill_line hammer row1">
    </div>
    <div class="skill_line hammer row2">
    </div>
    <div class="skill_line hammer row3">
    </div>

    <div class="skill_item illustration">
      <div class="icon">
        <img src="@/assets/img_illustration.png" alt="" srcset="">
      </div>
      <div class="title">
        插畫
      </div>
    </div>

    <div class="skill_item color">
      <div class="icon">
        <img src="@/assets/img_color.png" alt="" srcset="">
      </div>
      <div class="title">
        配色
      </div>
    </div>

    <div class="skill_item sense">
      <div class="icon">
        <img src="@/assets/img_sense.png" alt="" srcset="">
      </div>
      <div class="title">
        美感
      </div>
    </div>

    <div class="skill_item text">
      <div class="icon">
        <img src="@/assets/img_text.png" alt="" srcset="">
      </div>
      <div class="title">
        文案
      </div>
    </div>

    <div class="skill_item inspiration">
      <div class="icon">
        <img src="@/assets/img_inspiration.png" alt="" srcset="">
      </div>
      <div class="title">
        靈感
      </div>
    </div>

    <div class="skill_item pictures">
      <div class="icon">
        <img src="@/assets/img_pictures.png" alt="" srcset="">
      </div>
      <div class="title">
        圖庫
      </div>
    </div>


    <div class="skill_item axe">
      <div class="icon">
        <img src="@/assets/img_axe.png" alt="" srcset="">
      </div>
      <div class="title">
        UI設計
      </div>
    </div>

    <div class="skill_item book">
      <div class="icon">
        <img src="@/assets/img_book.png" alt="" srcset="">
      </div>
      <div class="title">
        標註
      </div>
    </div>

    <div class="skill_item quill">
      <div class="icon">
        <img src="@/assets/img_quill.png" alt="" srcset="">
      </div>
      <div class="title">
        略懂開發
      </div>
    </div>


    <div class="skill_item blade2">
      <div class="icon">
        <img src="@/assets/img_blade.png" alt="" srcset="">
      </div>
      <div class="title">
        原型
      </div>
    </div>

    <div class="skill_item sword">
      <div class="icon">
        <img src="@/assets/img_sword.png" alt="" srcset="">
      </div>
      <div class="title">
        出師
      </div>
    </div>

    <div class="skill_item timer">
      <div class="icon">
        <img src="@/assets/img_timer.png" alt="" srcset="">
      </div>
      <div class="title">
        版本控制
      </div>
    </div>

    <div class="skill_item emblem">
      <div class="icon">
        <img src="@/assets/img_emblem.png" alt="" srcset="">
      </div>
      <div class="title">
        厚黑學
      </div>
    </div>


  </div>

  <div class="skillInfo">

    <img src="@/assets/img_monocat.png" class="monocat" alt="" srcset="">
    <div class="content">
      <div class="icon">
        <img src="@/assets/img_blade-1.png" alt="" srcset="">
      </div>
      <div class="text">
        <h3>設計規範</h3>
        <p>UI設計跟平面設計最大的不同是，因為具有功能、要被操作且須遵守規範，雖然難啃但不失為初心者必備武器。</p>
      </div>
    </div>
    <img src="@/assets/img_padora.png" class="padora" alt="" srcset="">
  </div>

  <img src="@/assets/img_hexcat.png" class="cat" alt="" srcset="">

  <img src="@/assets/img_rocket.png" class="rocket" alt="" srcset="">
</div>